body {
    background-color: #f5fffa;
}

.loginCard {
    margin-top: 100px;
    border-color: #86b6dd;
    border-radius: 5px;
}

.loginCardHeader {
    background-color: #86b6dd;
    padding: 10px;
}
.loginCardBody {
    padding-left: 35px;
    padding-right: 35px;
}

.loginCardTitle {
    font-size: 2rem;
    color: #497eaa;
    padding-bottom: 30px;

}

.registerLink {
    color: #ff9099;
}

.registerLink:hover {
    text-decoration: none;
    color: #ff0015;
}

.loginHeader {
    font-size: 3rem;
    padding-left: 25px;
}

.red-text {
    color: red;
}

.emailInput {
    margin-top: 35px;
    padding-left: auto;
    padding-right: auto;
}

.loginBtnDiv {
    text-align: right;
}

.loginBtn {
    width: 120px;
    background-color: #86b6dd;
    border-color: #86b6dd;
    margin-bottom: 20px;
}

.loginBtn:hover {
    background-color: #4296db;
    border-color: #4296db;
}

.label {
    color: #497eaa;
    font-size: 1.25rem;
}

.passwordDiv {
    padding-top: 25px;
}