body {
    background-color: rgb(243, 246, 243);
}

.loginCard {
    margin-top: 100px;
    border-color: rgb(45, 47, 45);
    border-radius: 5px;
}

.loginCardHeader {
    background-color: rgb(45, 47, 45);
    padding: 10px;
}
.loginCardBody {
    padding-left: 35px;
    padding-right: 35px;
}

.loginCardTitle {
    font-size: 2rem;
    color: rgb(45, 47, 45);
    padding-bottom: 30px;

}

.registerLink {
    color: #ff8f8f;
}

.registerLink:hover {
    text-decoration: none;
    color: #ff0000;
}

.loginHeader {
    font-size: 3rem;
    padding-left: 25px;
}

.red-text {
    color: red;
}

.loginBtnDiv {
    text-align: right;
}

.loginBtn {
    width: 120px;
    background-color: rgb(45, 47, 45);
    border-color: rgb(45, 47, 45);
    margin-bottom: 20px;
}

.loginBtn:hover {
    background-color: #4296db;
    border-color: #4296db;
}

.label {
    color: rgb(45, 47, 45);
    font-size: 1.25rem;
}