.schedule {
    font-size: 22px;
    color: #569e4d;
    padding: 10px;
    padding-left: 15px

}

.market-card-header {
    background-color: #79cc6e;
    color: white;
    padding-top:5px;
    padding-bottom: 0;
}

.market-card-body {
    color: #569e4d;
    padding: 10px;
    padding-left: 15px
}

.market-card {
    border-color: #79cc6e;
    margin-top: 20px;
}