.schedule {
    font-size: 22px;

}

.card-header {
    background-color: #79cc6e;
    color: white;
    padding-top:5px;
    padding-bottom: 0;
}

.card-body {
    color: #569e4d;
    padding: 10px;
    padding-left: 15px
}

.card {
    border-color: #79cc6e;
}