.valueColumn {
    width: 20%;
}

.currentColumn {
    width: 35%;
}

.changeToColumn {
    width: 35%;
}

.btnColumn {
    width: 10%;
}

th {
    background-color: rgb(45, 47, 45);
    color: white;
}

.editBtn {
    background-color: rgb(45, 47, 45);
    border-color: rgb(45, 47, 45);
}

.editBtn:hover {
    background-color: #ff8f8f;
    border-color: #ff8f8f;
}

.editTable {
    background-color: white;
}

td {
    font-size: 1.2rem;
}