body {
    width: 100%;
    font-weight: lighter;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.marketRow {
    margin-top: 30px;
   
}

.productRow {
    margin-top: -20px;
}





