.titleDiv {
    background-color: #1fc509;
    
}

.market-name {
    color: white;
    font-family: "Staatliches", Arial, Helvetica, sans-serif;
    font-size: 12rem;
    text-align: center;
    margin: auto 0;
}

img {
    width: 600px;
    margin-right: -20px;
    margin-top: 50px;
}

.image {
    text-align: center;
}

.organizer {
    margin-left: 50px;
}

.address {
    margin-left: 50px;
}