/* body {
    width: 100%;
    font-weight: lighter;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;

}

.titleDiv {
    background-color: #61c454;
    
    
}

.marketName {
    color: white;
    font-family: "Staatliches", Arial, Helvetica, sans-serif;
    font-size: 10vw;
    text-align: left;
    margin-top: 0;
    padding-left: 40px;
    margin-bottom: -30px;
    padding-bottom: -20px;
}

img {
    width: 90%;
    border-radius: 5px;
}

.joinBtn {
    width: 35%;
    margin: 5px;
    margin-left: 40px;
}

.donateBtn {
    width: 35%;
    margin: 5px;
    

}

.organizer {
    color: #296621;
    font-size: 2rem;
    padding-top: 0;
    margin-left: 50px;
}

.about {
    text-align: justify;
    margin: 25px;
    margin-left: 45px;
}

.marketForm {
    margin: 50px;
}

.products {
    color: #61c454;
    margin-left: 45px;
}

.aboutHeader {
    margin-top: 0;
    margin-left: 45px;
    font-size: 2.5vw;
}

.hours {
    margin-left: 45px;
    font-size: 2rem;
}

.address {
    margin-left: 45px;
}

.chalkboard {
    background-color: rgb(39, 39, 39);
    color: white;
    height: 400px;
    width: 95%;
    border-radius: 5px;
    padding-top: 1px;
    font-size: 24px;
}

.joinMessage {
    margin-right: 35px;
    margin-left: 35px;
} */