.navbar-default {
    background-color: rgb(43, 44, 43);
}

.navbar-default .navbar-brand {
    color: rgb(255, 255, 255);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}