.resultName {
    color: black;

}

.card {
    margin-top: 20px;
    width: 100%;
    border-color: red;
}

.searchHeader {
    margin-left: 30px;
    font-size: 3rem;
}

.mapDiv {
    width: 100%;
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 3px;
    margin-top: 20px;
    height: 500px;
}

.card-header {
    background-color: red;
    color: white;
    padding-top:5px;
    padding-bottom: 0;
}

.card-body {
    color: #569e4d;
    padding: 10px;
    padding-left: 15px
}

