.searchDiv {
    border: 1px rgb(240, 240, 240) solid;
    border-radius: 5px;
    padding: 10px 35px 10px 35px;
    width: 100%;
    margin-top: 100px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.15);
}

.btnDiv {
    text-align: right;
    padding-top: 10px;
}
.addressSearchBtn {
    background-color: red;
    border-color: red;
    color: white;
}

.addressSearchBtn:hover {
    background-color: rgb(197, 0, 0);
    border-color: rgb(197, 0, 0);
}

.searchMessage {
    color: white;
}
.searchMessage {
    text-align: left;
}

.form-control {
    padding: 20px;
    border-radius:
}