.marketTitleDiv {
    background-color: #61c454;    
}

.marketName {
    color: white;
    font-family: "Staatliches", Arial, Helvetica, sans-serif;
    font-size: 10vw;
    text-align: left;
    margin-top: 0;
    padding-left: 50px;
    margin-bottom: -30px;
    padding-bottom: -20px;
}

.marketImg {
    width: 90%;
    border-radius: 5px;
}

.organizer {
    color: #296621;
    font-size: 2rem;
    padding-top: 0;
    margin-left: 60px;
    padding-bottom: 10px;
}